.navbar{
    background-image: url('../images/bghousing.jpg');
    background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 700px;
    
    
    }
    .home{
    display: flex;
    justify-content: space-between;
    
    }
    .About{
    background-image: url('../images/marble.jpg');
    background-size: cover;
        height: 400px;
       
    
    }
    .About p{
        text-align: center;
        padding-bottom: 50px;
        padding-top: 100px;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 40px;
        
    }